.right {
    border: 1px solid black;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.error {
    border: 1px solid red;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.errorText {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.btnAddUser {
    background-color: greenyellow;
    color: mediumorchid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}